<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Design your taco </h1>
    <img th:src="@{/images/taco.jpeg}"/>

    <h3>your Tacos</h3>

    <a href="/logout">Logout</a>

    <div th:if="${not #lists.isEmpty(tacoOrder.tacos)}">
        <ul>
            <li th:each="taco : ${tacoOrder.tacos}">
                <span th:text="${taco.name}">taco name</span>
                <button th:taco-name="${taco.name}" th:text="'Remove this taco'" onclick="removeTaco(this.getAttribute('taco-name'))"></button>
            </li>
        </ul>
        <a href="/orders/current">Go To Order Page</a>
    </div>

    <form method="POST" th:object="${taco}">
        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3>Designate your wrap:</h3>
                <div th:each="ingredient : ${wrap}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="proteins">
                <h3>Pick your protein:</h3>
                <div th:each="ingredient : ${protein}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
            </div>
            <div class="ingredient-group" id="cheeses">
                <h3>Choose your cheese:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
            </div>
            <div class="ingredient-group" id="veggies">
                <h3>Determine your veggies:</h3>
                <div th:each="ingredient : ${veggies}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
            </div>
            <div class="ingredient-group" id="sauces">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${sauce}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
            </div>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ingredients')}"
                  th:errors="*{ingredients}">
            </span>
        </div>
        <div>
            <br/>
            <label for="name">Name your taco creation:</label>
            <input type="text" id="name" th:field="*{name}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">
            </span>
            <br/>
            <br/>
            <button type="submit" name="action" value="save">Save and Continue</button>
            <button type="submit" name="action" value="add">Save and Add more Tacos</button>
        </div>
    </form>


    <script th:inline="javascript">
        function removeTaco(name) {
            fetch(`/design/removeTaco/${name}`, {
                method: 'GET'
            })
        .then(response => {
            window.location.href = '/design';
         })
        }
    </script>
</body>
</html>